.profilePicture {
    height: 100%;
    border-radius: 50%;
    padding: 3px;
    box-sizing: border-box;
}

.profilePicture.outline {
    outline: 1.5px solid var(--main-gray);
}

.profilePicture.dynamic {
    cursor: pointer;
}
